{% extends "base.html" %}

{% block main_content %}

{% block scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home/graph.css') }}">
{% endblock %}

  <div class="graph">
    <div class="header-wrapper">
      <p class="header">{{ title }}</p>
    </div>

    <img src="{{ url_for('static', filename=img_path) }}" alt="Progress Graph" class="graph-image">

    <div class="month-grid">
      <div class="top-buttons">
        <a href="{{ url_for(url, month='last_30') }}" class="month-button highlighted show-30-button {% if selected_month == 'last_30' %}is_current_month{% endif %}">Last 30</a>
        <a href="{{ url_for(url) }}" class="month-button highlighted show-all-button {% if selected_month == None %}is_current_month{% endif %}">All</a>
      </div>

      {% for item in all_months %}
        {% set month, year = item %}
        <a href="{{ url_for(url, year=year, month=month) }}" class="month-button highlighted {% if month == selected_month %}is_current_month{% endif %}">
            <span class="month-long">{{ month }} {{ year }}</span>
            <span class="month-short">{{ month[:3] }} {{ year }}</span>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}
