{% extends "base.html" %}

{% block main_content %}

{% block scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home/insta.css') }}">
{% endblock %}

  <div class="insta">
    <div class="header-wrapper">
      <p class="header">{{ title }}</p>
    </div>

    <div class="month-grid">
      <!-- <div class="top-buttons">
        <a href="{{ url_for(url) }}" class="month-button highlighted show-all-button {% if selected_month == None %}is_current_month{% endif %}">All</a>
      </div> -->

      {% for item in all_months %}
        {% set month, year = item %}
        <a href="{{ url_for(url, year=year, month=month) }}" class="month-button highlighted {% if month == selected_month %}is_current_month{% endif %}">
          <span class="month-long">{{ month }} {{ year }}</span>
          <span class="month-short">{{ month[:3] }} {{ year }}</span>
        </a>
      {% endfor %}
    </div>

    <div class="image-grid">
      <img src="{{ url_for('static', filename=img_back) }}" alt="Back" class="insta-image">
      <img src="{{ url_for('static', filename=img_front) }}" alt="Front" class="insta-image">
      <img src="{{ url_for('static', filename=img_left) }}" alt="Left Bicep" class="insta-image">
      <img src="{{ url_for('static', filename=img_right) }}" alt="Right Bicep" class="insta-image">
    </div>
  </div>

{% endblock %}
