.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
}

.graph-image {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2% 0 0;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    width: 96%;
    max-width: 1000px;
    margin-top: 50px;
}

.top-buttons {
    grid-column: 1 / -1;
    display: flex;
    gap: 50px;
    width: 100%;
}

.show-30-button,
.show-all-button {
    flex: 1;
}

.month-button {
    display: block;
    padding: 10px 15px;
    text-align: center;
    color: var(--text-unhovered);
    border: 1px solid var(--text-unhovered);
    border-radius: 5px;
}

.month-button.highlighted {
    color: var(--text-hovered);
    border: 1px solid var(--text-hovered);
    cursor: pointer;
}

.month-button.highlighted:hover {
    background-color: var(--white-highlighted);
}

.is_current_month {
    font-weight: bold;
    background-color: var(--white-highlighted);
}

.month-short {
    display: none;
}

@media (max-width: 425px) {
    .top-buttons {
        gap: 15px;
    }
    .month-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .month-long {
        display: none;
    }
    .month-short {
        display: inline;
    }
}

@media (min-width: 425px) and (max-width: 576px) {
    .top-buttons {
        gap: 15px;
    }
    .month-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .month-long {
        display: none;
    }
    .month-short {
        display: inline;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .month-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
}
