.weight-guess-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
}

.weight-guess-form {
    display: flex;
    flex-direction: row;
    margin: 0 0 40px 0;
}

.form-input-field {
    width: 15ch;
    font-size: 1.3rem;
}

.form-devider {
    margin-left: 20px;
    margin-top: 11px;
}

.form-btn {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.guess-info-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;
}

.guess-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.guess-label {
    font-weight: bold;
    text-align: left;
}

.guess-value {
    text-align: right;
}

@media (max-width: 425px) {
    .guess-info-row {
        font-size: 0.9rem;
    }
    .form-input-field {
        width: 15ch;
        font-size: 0.9rem;
    }
    .form-label {
        font-size: 1rem;
    }
    .form-btn {
        font-size: 1rem;
    }
}
