.month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    max-width: 1000px;
    margin: 0 0 50px 0;
}

.top-buttons {
    display: flex;
    grid-column: 1 / -1;
    gap: 50px;
    width: 100%;
}

.show-all-button {
    flex: 1;
}

.month-button {
    display: block;
    padding: 10px 15px;
    text-align: center;
    color: var(--text-unhovered);
    border: 1px solid var(--text-unhovered);
    border-radius: 5px;
}

.month-button.highlighted {
    color: var(--text-hovered);
    border: 1px solid var(--text-hovered);
    cursor: pointer;
}

.month-button.highlighted:hover {
    background-color: var(--white-highlighted);
}

.is_current_month {
    font-weight: bold;
    background-color: var(--white-highlighted);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* width: 95%; */
    max-width: 1200px;
}

.month-short {
    display: none;
}

.insta-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.insta-image[src*="insta_left"],
.insta-image[src*="insta_right"] {
    transform: scaleX(-1);
}

/* .month-short {
    display: none;
} */

@media (max-width: 425px) {
    .insta-container {
        padding: 0 4%;
    }
    .top-buttons {
        gap: 15px;
    }
    .month-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .month-button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .month-long {
        display: none;
    }
    .month-short {
        display: inline;
    }
    .image-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media (min-width: 425px) and (max-width: 576px) {
    .top-buttons {
        gap: 15px;
    }
    .month-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .month-button {
        padding: 8px 10px;
        font-size: 14px;
    }
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .month-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
