nav {
    padding: 35px 0;
    text-align: center;
}

.nav-row {
    margin-bottom: 10px;
}

.nav-row:last-child {
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

.nav-link {
    margin: 0 15px;
    font-size: 22px;
    color: var(--text-white);
    text-decoration: none;
}

.is_current {
    color: var(--text-hovered);
    font-weight: bold;
}

@media (min-width: 769px) {
    .nav-regular {
        display: block;
    }
    .nav-small-row-1,
    .nav-small-row-2 {
        display: none;
    }
    .nav-admin {
        display: block;
    }
}

@media (max-width: 768px) {
    .nav-regular {
        display: none;
    }
    
    .nav-small-row-1,
    .nav-small-row-2 {
        display: block;
    }
    .nav-admin {
        display: block;
    }
    .nav-row {
        margin-bottom: 10px;
    }
    .nav-link {
        font-size: 19px;
    }
}